<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hubiera</key>
	<array>
		<string>hubiese</string>
		<string>hubieses</string>
		<string>hubiese</string>
		<string>hubiésemos</string>
		<string>hubieseis</string>
		<string>hubiesen</string>
	</array>
	<key>hubieras</key>
	<array>
		<string>hubiese</string>
		<string>hubieses</string>
		<string>hubiese</string>
		<string>hubiésemos</string>
		<string>hubieseis</string>
		<string>hubiesen</string>
	</array>
	<key>hubiéramos</key>
	<array>
		<string>hubiese</string>
		<string>hubieses</string>
		<string>hubiese</string>
		<string>hubiésemos</string>
		<string>hubieseis</string>
		<string>hubiesen</string>
	</array>
	<key>hubierais</key>
	<array>
		<string>hubiese</string>
		<string>hubieses</string>
		<string>hubiese</string>
		<string>hubiésemos</string>
		<string>hubieseis</string>
		<string>hubiesen</string>
	</array>
	<key>hubieran</key>
	<array>
		<string>hubiese</string>
		<string>hubieses</string>
		<string>hubiese</string>
		<string>hubiésemos</string>
		<string>hubieseis</string>
		<string>hubiesen</string>
	</array>
	<key>hubiese</key>
	<array>
		<string>hubiera</string>
		<string>hubieras</string>
		<string>hubiera</string>
		<string>hubiéramos</string>
		<string>hubierais</string>
		<string>hubieran</string>
	</array>
	<key>hubieses</key>
	<array>
		<string>hubiera</string>
		<string>hubieras</string>
		<string>hubiera</string>
		<string>hubiéramos</string>
		<string>hubierais</string>
		<string>hubieran</string>
	</array>
	<key>hubiésemos</key>
	<array>
		<string>hubiera</string>
		<string>hubieras</string>
		<string>hubiera</string>
		<string>hubiéramos</string>
		<string>hubierais</string>
		<string>hubieran</string>
	</array>
	<key>hubieseis</key>
	<array>
		<string>hubiera</string>
		<string>hubieras</string>
		<string>hubiera</string>
		<string>hubiéramos</string>
		<string>hubierais</string>
		<string>hubieran</string>
	</array>
	<key>hubiesen</key>
	<array>
		<string>hubiera</string>
		<string>hubieras</string>
		<string>hubiera</string>
		<string>hubiéramos</string>
		<string>hubierais</string>
		<string>hubieran</string>
	</array>
	<key>estuviera</key>
	<array>
		<string>estuviese</string>
		<string>estuvieses</string>
		<string>estuviese</string>
		<string>estuviésemos</string>
		<string>estuvieseis</string>
		<string>estuviesen</string>
	</array>
	<key>estuvieras</key>
	<array>
		<string>estuviese</string>
		<string>estuvieses</string>
		<string>estuviese</string>
		<string>estuviésemos</string>
		<string>estuvieseis</string>
		<string>estuviesen</string>
	</array>
	<key>estuviéramos</key>
	<array>
		<string>estuviese</string>
		<string>estuvieses</string>
		<string>estuviese</string>
		<string>estuviésemos</string>
		<string>estuvieseis</string>
		<string>estuviesen</string>
	</array>
	<key>estuvierais</key>
	<array>
		<string>estuviese</string>
		<string>estuvieses</string>
		<string>estuviese</string>
		<string>estuviésemos</string>
		<string>estuvieseis</string>
		<string>estuviesen</string>
	</array>
	<key>estuvieran</key>
	<array>
		<string>estuviese</string>
		<string>estuvieses</string>
		<string>estuviese</string>
		<string>estuviésemos</string>
		<string>estuvieseis</string>
		<string>estuviesen</string>
	</array>
	<key>estuviese</key>
	<array>
		<string>estuviera</string>
		<string>estuvieras</string>
		<string>estuviera</string>
		<string>estuviéramos</string>
		<string>estuvierais</string>
		<string>estuvieran</string>
	</array>
	<key>estuvieses</key>
	<array>
		<string>estuviera</string>
		<string>estuvieras</string>
		<string>estuviera</string>
		<string>estuviéramos</string>
		<string>estuvierais</string>
		<string>estuvieran</string>
	</array>
	<key>estuviésemos</key>
	<array>
		<string>estuviera</string>
		<string>estuvieras</string>
		<string>estuviera</string>
		<string>estuviéramos</string>
		<string>estuvierais</string>
		<string>estuvieran</string>
	</array>
	<key>estuvieseis</key>
	<array>
		<string>estuviera</string>
		<string>estuvieras</string>
		<string>estuviera</string>
		<string>estuviéramos</string>
		<string>estuvierais</string>
		<string>estuvieran</string>
	</array>
	<key>estuviesen</key>
	<array>
		<string>estuviera</string>
		<string>estuvieras</string>
		<string>estuviera</string>
		<string>estuviéramos</string>
		<string>estuvierais</string>
		<string>estuvieran</string>
	</array>
</dict>
</plist>
