<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abandonar</key>
	<string>Lasciare</string>
	<key>abrazar</key>
	<string>abbracciare</string>
	<key>abrir</key>
	<string>aprire</string>
	<key>aburrir</key>
	<string>annoiare</string>
	<key>acabar</key>
	<string>finire</string>
	<key>aceptar</key>
	<string>accettare</string>
	<key>acercar</key>
	<string>ingrandire</string>
	<key>acompañar</key>
	<string>accompagnare</string>
	<key>acordar</key>
	<string>concordare,ricordare</string>
	<key>acostar</key>
	<string>stendersi</string>
	<key>admirar</key>
	<string>ammirare</string>
	<key>admitir</key>
	<string>ammettere</string>
	<key>adorar</key>
	<string>adorare</string>
	<key>ahorrar</key>
	<string>risparmiare</string>
	<key>alcanzar</key>
	<string>raggiungere</string>
	<key>alimentar</key>
	<string>alimentazione</string>
	<key>almorzar</key>
	<string>pranzare</string>
	<key>amar</key>
	<string>amare</string>
	<key>andar</key>
	<string>camminare</string>
	<key>apagar</key>
	<string>spegnere</string>
	<key>aparecer</key>
	<string>Apparire</string>
	<key>apetecer</key>
	<string>bramare</string>
	<key>apostar</key>
	<string>scommettere</string>
	<key>aprender</key>
	<string>imparare</string>
	<key>aprobar</key>
	<string>approvare</string>
	<key>asar</key>
	<string>arrostare</string>
	<key>asistir</key>
	<string>partecipare</string>
	<key>atar</key>
	<string>legare</string>
	<key>atraer</key>
	<string>attrarre</string>
	<key>avisar</key>
	<string>avvisare</string>
	<key>ayudar</key>
	<string>aiutare</string>
	<key>añadir</key>
	<string>Aggiungere</string>
	<key>bailar</key>
	<string>danzare</string>
	<key>bajar</key>
	<string>andaregiù</string>
	<key>barrer</key>
	<string>spazzare</string>
	<key>beber</key>
	<string>bere</string>
	<key>bendecir</key>
	<string>benedire</string>
	<key>besar</key>
	<string>baciare</string>
	<key>borrar</key>
	<string>cancellare</string>
	<key>burlar</key>
	<string>prendere in giro</string>
	<key>buscar</key>
	<string>cercare</string>
	<key>caber</key>
	<string>adattarsi</string>
	<key>caer</key>
	<string>fallire</string>
	<key>calentar</key>
	<string>scaldare</string>
	<key>callar</key>
	<string>starezitto</string>
	<key>caminar</key>
	<string>camminare</string>
	<key>cancelar</key>
	<string>Annullare</string>
	<key>cansar</key>
	<string>stancarsi</string>
	<key>cantar</key>
	<string>cantare</string>
	<key>casar</key>
	<string>sposare</string>
	<key>celebrar</key>
	<string>celebrare</string>
	<key>cenar</key>
	<string>cenare</string>
	<key>cerrar</key>
	<string>chiudere</string>
	<key>claudicar</key>
	<string>rinunciare</string>
	<key>cocinar</key>
	<string>cucinare</string>
	<key>coger</key>
	<string>prendere</string>
	<key>colgar</key>
	<string>appendere</string>
	<key>comenzar</key>
	<string>iniziare</string>
	<key>comer</key>
	<string>mangiare</string>
	<key>compartir</key>
	<string>condividere</string>
	<key>completar</key>
	<string>completare</string>
	<key>componer</key>
	<string>comporre</string>
	<key>comprar</key>
	<string>comprare</string>
	<key>comprender</key>
	<string>comprendere</string>
	<key>conducir</key>
	<string>guidare</string>
	<key>conocer</key>
	<string>sapere</string>
	<key>conseguir</key>
	<string>ottenere</string>
	<key>construir</key>
	<string>costruire</string>
	<key>consultar</key>
	<string>Consultare</string>
	<key>contar</key>
	<string>dire</string>
	<key>contestar</key>
	<string>Rispondere</string>
	<key>continuar</key>
	<string>continuare</string>
	<key>contribuir</key>
	<string>contribuire</string>
	<key>convertir</key>
	<string>convertire</string>
	<key>corregir</key>
	<string>correggere</string>
	<key>correr</key>
	<string>correre</string>
	<key>cortar</key>
	<string>tagliare</string>
	<key>costar</key>
	<string>costare</string>
	<key>crear</key>
	<string>creare</string>
	<key>crecer</key>
	<string>crescendo</string>
	<key>creer</key>
	<string>credere</string>
	<key>cruzar</key>
	<string>Attraversare</string>
	<key>cubrir</key>
	<string>coperchiare</string>
	<key>cuidar</key>
	<string>curare</string>
	<key>cultivar</key>
	<string>coltivare</string>
	<key>cumplir</key>
	<string>soddisfare</string>
	<key>dar</key>
	<string>dare</string>
	<key>deber</key>
	<string>dovere</string>
	<key>decidir</key>
	<string>decidere</string>
	<key>decir</key>
	<string>dire</string>
	<key>defender</key>
	<string>difendere</string>
	<key>dejar</key>
	<string>permettere</string>
	<key>derrumbar</key>
	<string>rovesciare</string>
	<key>desayunar</key>
	<string>fare colazione</string>
	<key>descansar</key>
	<string>riposare</string>
	<key>descubrir</key>
	<string>scoprire</string>
	<key>desear</key>
	<string>volere</string>
	<key>deshacer</key>
	<string>annullare</string>
	<key>despedir</key>
	<string>direaddio</string>
	<key>despertar</key>
	<string>svegliarsi</string>
	<key>destruir</key>
	<string>distruggere</string>
	<key>devolver</key>
	<string>ritornare</string>
	<key>dibujar</key>
	<string>disegnare</string>
	<key>dirigir</key>
	<string>dirigere</string>
	<key>disfrutar</key>
	<string>godere</string>
	<key>doler</key>
	<string>ferire</string>
	<key>dormir</key>
	<string>dormire</string>
	<key>duchar</key>
	<string>fare la doccia</string>
	<key>echar</key>
	<string>gettare</string>
	<key>elegir</key>
	<string>scegliere</string>
	<key>empezar</key>
	<string>iniziare</string>
	<key>encantar</key>
	<string>amore</string>
	<key>encender</key>
	<string>illuminare</string>
	<key>encontrar</key>
	<string>trovare</string>
	<key>entender</key>
	<string>capire</string>
	<key>entrar</key>
	<string>Entrare</string>
	<key>entregar</key>
	<string>consegnare</string>
	<key>enviar</key>
	<string>Inviare</string>
	<key>envidiar</key>
	<string>invidiare</string>
	<key>escoger</key>
	<string>scegliere</string>
	<key>escribir</key>
	<string>scrivere</string>
	<key>escuchar</key>
	<string>ascoltare</string>
	<key>esperar</key>
	<string>aspettare</string>
	<key>estar</key>
	<string>essere</string>
	<key>estudiar</key>
	<string>studiare</string>
	<key>exigir</key>
	<string>domandare</string>
	<key>explicar</key>
	<string>spiegare</string>
	<key>fijar</key>
	<string>fissare</string>
	<key>firmar</key>
	<string>firmare</string>
	<key>formar</key>
	<string>performare</string>
	<key>fregar</key>
	<string>pulire</string>
	<key>ganar</key>
	<string>vincere</string>
	<key>gastar</key>
	<string>spendere</string>
	<key>graduar</key>
	<string>diplomarsi
diplomarsi</string>
	<key>gritar</key>
	<string>gridare o urlare</string>
	<key>gustar</key>
	<string>piacere</string>
	<key>haber</key>
	<string>avere</string>
	<key>hablar</key>
	<string>parlare</string>
	<key>hacer</key>
	<string>fare</string>
	<key>helar</key>
	<string>congelare</string>
	<key>heredar</key>
	<string>ereditare</string>
	<key>herir</key>
	<string>ferire</string>
	<key>hervir</key>
	<string>Bollire</string>
	<key>huir</key>
	<string>fuggire</string>
	<key>impedir</key>
	<string>impedire</string>
	<key>incluir</key>
	<string>includere</string>
	<key>influir</key>
	<string>influenzare</string>
	<key>inscribir</key>
	<string>iscrivere</string>
	<key>intentar</key>
	<string>provare</string>
	<key>interesar</key>
	<string>interessare</string>
	<key>invertir</key>
	<string>investire</string>
	<key>invitar</key>
	<string>invitare</string>
	<key>ir</key>
	<string>andare</string>
	<key>jugar</key>
	<string>giocarea</string>
	<key>juntar</key>
	<string>mettere insieme</string>
	<key>lavar</key>
	<string>lavare</string>
	<key>leer</key>
	<string>leggere</string>
	<key>levantar</key>
	<string>alzare</string>
	<key>limpiar</key>
	<string>pulire</string>
	<key>llamar</key>
	<string>chiamare</string>
	<key>llegar</key>
	<string>arrivare</string>
	<key>llenar</key>
	<string>riempire</string>
	<key>llevar</key>
	<string>indossare</string>
	<key>llorar</key>
	<string>piangere</string>
	<key>lograr</key>
	<string>realizzare</string>
	<key>maltratar</key>
	<string>maltrattare</string>
	<key>mandar</key>
	<string>inviare</string>
	<key>manejar</key>
	<string>guidare</string>
	<key>mantener</key>
	<string>tenere</string>
	<key>maquillar</key>
	<string>maquillare</string>
	<key>marchar</key>
	<string>marciare</string>
	<key>medir</key>
	<string>misurare</string>
	<key>mentir</key>
	<string>mentire</string>
	<key>meter</key>
	<string>mettere</string>
	<key>mezclar</key>
	<string>Mescolare</string>
	<key>mirar</key>
	<string>guardare</string>
	<key>montar</key>
	<string>montare</string>
	<key>morir</key>
	<string>Morire</string>
	<key>mostrar</key>
	<string>mostrare</string>
	<key>mover</key>
	<string>spostare</string>
	<key>nacer</key>
	<string>nascere</string>
	<key>nadar</key>
	<string>nuotare</string>
	<key>navegar</key>
	<string>navigare</string>
	<key>necesitar</key>
	<string>aver bisogno</string>
	<key>negar</key>
	<string>negare</string>
	<key>nevar</key>
	<string>nevicare</string>
	<key>obedecer</key>
	<string>obbedire</string>
	<key>obtener</key>
	<string>ottenere</string>
	<key>odiar</key>
	<string>odiare</string>
	<key>ofrecer</key>
	<string>offrire</string>
	<key>oler</key>
	<string>odore</string>
	<key>olvidar</key>
	<string>dimenticare</string>
	<key>ordenar</key>
	<string>organizzare</string>
	<key>organizar</key>
	<string>organizzare</string>
	<key>oír</key>
	<string>ascoltare</string>
	<key>pagar</key>
	<string>pagare</string>
	<key>parar</key>
	<string>fermare</string>
	<key>parecer</key>
	<string>sembrare</string>
	<key>participar</key>
	<string>prendere parte</string>
	<key>pasar</key>
	<string>Spendere</string>
	<key>pasear</key>
	<string>fare una passeggiata</string>
	<key>patinar</key>
	<string>pattinare</string>
	<key>pedir</key>
	<string>chiedere</string>
	<key>peinar</key>
	<string>pettinare</string>
	<key>pensar</key>
	<string>pensare</string>
	<key>perder</key>
	<string>perdere</string>
	<key>permitir</key>
	<string>permettere</string>
	<key>pintar</key>
	<string>dipingere</string>
	<key>planchar</key>
	<string>stirare</string>
	<key>poder</key>
	<string>Potere</string>
	<key>podrir</key>
	<string>marcire</string>
	<key>poner</key>
	<string>mettere</string>
	<key>practicar</key>
	<string>fare pratica</string>
	<key>preferir</key>
	<string>preferire</string>
	<key>preguntar</key>
	<string>chiedere</string>
	<key>preparar</key>
	<string>impostare</string>
	<key>presentar</key>
	<string>introdurre</string>
	<key>probar</key>
	<string>provare</string>
	<key>producir</key>
	<string>produrre</string>
	<key>proteger</key>
	<string>proteggere</string>
	<key>quedar</key>
	<string>stare</string>
	<key>querer</key>
	<string>volere</string>
	<key>realizar</key>
	<string>rendersi conto</string>
	<key>rebajar</key>
	<string>minore</string>
	<key>rechazar</key>
	<string>declinare</string>
	<key>recibir</key>
	<string>ricevere</string>
	<key>reciclar</key>
	<string>Riciclare</string>
	<key>recoger</key>
	<string>Raccogliere</string>
	<key>recomendar</key>
	<string>raccomandare</string>
	<key>reconocer</key>
	<string>riconoscere</string>
	<key>recordar</key>
	<string>ricordare</string>
	<key>regalar</key>
	<string>regalare</string>
	<key>regar</key>
	<string>irrigare</string>
	<key>regresar</key>
	<string>ritornare</string>
	<key>repasar</key>
	<string>rivedere</string>
	<key>repetir</key>
	<string>ripetere</string>
	<key>resolver</key>
	<string>risolvere</string>
	<key>responder</key>
	<string>Rispondere</string>
	<key>resultar</key>
	<string>spegnere</string>
	<key>rezar</key>
	<string>pregare</string>
	<key>robar</key>
	<string>Rubare</string>
	<key>rodar</key>
	<string>girare</string>
	<key>rogar</key>
	<string>mendicare</string>
	<key>romper</key>
	<string>rompere</string>
	<key>saber</key>
	<string>sapere</string>
	<key>saborear</key>
	<string>assaporare</string>
	<key>sacar</key>
	<string>prendere</string>
	<key>sacudir</key>
	<string>scuotere</string>
	<key>salir</key>
	<string>partire</string>
	<key>saltar</key>
	<string>saltare</string>
	<key>saludar</key>
	<string>salutare</string>
	<key>secar</key>
	<string>asciugare</string>
	<key>seguir</key>
	<string>daseguire</string>
	<key>sentar</key>
	<string>sedere</string>
	<key>sentir</key>
	<string>sentire</string>
	<key>ser</key>
	<string>essere</string>
	<key>servir</key>
	<string>servire</string>
	<key>soler</key>
	<string>di solito fare</string>
	<key>sonar</key>
	<string>Sognare</string>
	<key>subir</key>
	<string>salire</string>
	<key>suceder</key>
	<string>accadere</string>
	<key>suponer</key>
	<string>supporre</string>
	<key>sustraer</key>
	<string>sottrarre</string>
	<key>tardar</key>
	<string>tardare</string>
	<key>temer</key>
	<string>temere</string>
	<key>tener</key>
	<string>avere</string>
	<key>terminar</key>
	<string>finire</string>
	<key>tocar</key>
	<string>toccare</string>
	<key>tomar</key>
	<string>bere</string>
	<key>torcer</key>
	<string>intrecciare</string>
	<key>trabajar</key>
	<string>lavorare</string>
	<key>traducir</key>
	<string>tradurre</string>
	<key>traer</key>
	<string>portare</string>
	<key>tratar</key>
	<string>trattare</string>
	<key>usar</key>
	<string>usare</string>
	<key>utilizar</key>
	<string>utilizar</string>
	<key>valer</key>
	<string>valere</string>
	<key>vencer</key>
	<string>vincere</string>
	<key>vender</key>
	<string>vendere</string>
	<key>venir</key>
	<string>venire</string>
	<key>ver</key>
	<string>guardare</string>
	<key>vestir</key>
	<string>indossare</string>
	<key>viajar</key>
	<string>viaggiare</string>
	<key>visitar</key>
	<string>visitare</string>
	<key>vivir</key>
	<string>vivere</string>
	<key>volar</key>
	<string>volare</string>
	<key>volver</key>
	<string>ritornare</string>
</dict>
</plist>
