<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abandonar</key>
	<string>abandonner</string>
	<key>abrazar</key>
	<string>caliner</string>
	<key>abrir</key>
	<string>ouvrir</string>
	<key>aburrir</key>
	<string>ennuyer</string>
	<key>acabar</key>
	<string>finir</string>
	<key>aceptar</key>
	<string>accepter</string>
	<key>acercar</key>
	<string>rapprocher</string>
	<key>acompañar</key>
	<string>accompagner</string>
	<key>acordar</key>
	<string>êtred&apos;accord,sesouvenir</string>
	<key>acostar</key>
	<string>secoucher</string>
	<key>admirar</key>
	<string>admirer</string>
	<key>admitir</key>
	<string>admettre</string>
	<key>adorar</key>
	<string>adorer</string>
	<key>ahorrar</key>
	<string>économiser</string>
	<key>alcanzar</key>
	<string>atteindre</string>
	<key>alimentar</key>
	<string>nourrir</string>
	<key>almorzar</key>
	<string>déjeuner</string>
	<key>amar</key>
	<string>aimer</string>
	<key>andar</key>
	<string>marcher</string>
	<key>apagar</key>
	<string>éteindre</string>
	<key>aparecer</key>
	<string>apparaître</string>
	<key>apetecer</key>
	<string>envier</string>
	<key>apostar</key>
	<string>parier</string>
	<key>aprender</key>
	<string>apprendre</string>
	<key>aprobar</key>
	<string>approuver</string>
	<key>asar</key>
	<string>rôtir</string>
	<key>asistir</key>
	<string>participer</string>
	<key>atar</key>
	<string>attacher</string>
	<key>atraer</key>
	<string>attirer</string>
	<key>avisar</key>
	<string>avertir</string>
	<key>ayudar</key>
	<string>aider</string>
	<key>añadir</key>
	<string>ajouter</string>
	<key>bailar</key>
	<string>danser</string>
	<key>bajar</key>
	<string>descendre</string>
	<key>barrer</key>
	<string>balayer</string>
	<key>beber</key>
	<string>boire</string>
	<key>bendecir</key>
	<string>bénir</string>
	<key>besar</key>
	<string>embrasser</string>
	<key>borrar</key>
	<string>supprimer</string>
	<key>burlar</key>
	<string>semoquer</string>
	<key>buscar</key>
	<string>chercher</string>
	<key>caber</key>
	<string>s&apos;adapter</string>
	<key>caer</key>
	<string>tomber</string>
	<key>calentar</key>
	<string>réchauffer</string>
	<key>callar</key>
	<string>setaire</string>
	<key>caminar</key>
	<string>marcher</string>
	<key>cancelar</key>
	<string>annuler</string>
	<key>cansar</key>
	<string>sefatiguer</string>
	<key>cantar</key>
	<string>chanter</string>
	<key>casar</key>
	<string>semarier</string>
	<key>celebrar</key>
	<string>célébrer</string>
	<key>cenar</key>
	<string>dîner</string>
	<key>cerrar</key>
	<string>fermer</string>
	<key>claudicar</key>
	<string>abandonner</string>
	<key>cocinar</key>
	<string>cuisiner</string>
	<key>coger</key>
	<string>prendre</string>
	<key>colgar</key>
	<string>raccrocher</string>
	<key>comenzar</key>
	<string>commencer</string>
	<key>comer</key>
	<string>manger</string>
	<key>compartir</key>
	<string>partager</string>
	<key>completar</key>
	<string>compléter</string>
	<key>componer</key>
	<string>composer</string>
	<key>comprar</key>
	<string>acheter</string>
	<key>comprender</key>
	<string>comprendre</string>
	<key>conducir</key>
	<string>conduire</string>
	<key>conocer</key>
	<string>savoir</string>
	<key>conseguir</key>
	<string>obtenir</string>
	<key>construir</key>
	<string>construire</string>
	<key>consultar</key>
	<string>consulter</string>
	<key>contar</key>
	<string>dire</string>
	<key>contestar</key>
	<string>répondre</string>
	<key>continuar</key>
	<string>continuer</string>
	<key>contribuir</key>
	<string>contribuer</string>
	<key>convertir</key>
	<string>convertir</string>
	<key>corregir</key>
	<string>corriger</string>
	<key>correr</key>
	<string>courir</string>
	<key>cortar</key>
	<string>couper</string>
	<key>costar</key>
	<string>coûter</string>
	<key>crear</key>
	<string>créer</string>
	<key>crecer</key>
	<string>grandir</string>
	<key>creer</key>
	<string>croire</string>
	<key>cruzar</key>
	<string>traverser</string>
	<key>cubrir</key>
	<string>couvrir</string>
	<key>cuidar</key>
	<string>s&apos;occuperde</string>
	<key>cultivar</key>
	<string>cultiver</string>
	<key>cumplir</key>
	<string>accomplir,atteindre</string>
	<key>dar</key>
	<string>donner</string>
	<key>deber</key>
	<string>devoir</string>
	<key>decidir</key>
	<string>decider</string>
	<key>decir</key>
	<string>dire</string>
	<key>defender</key>
	<string>défendre</string>
	<key>dejar</key>
	<string>quitter</string>
	<key>derrumbar</key>
	<string>S&apos;effondrer</string>
	<key>desayunar</key>
	<string>prendre le petit déjeuner</string>
	<key>descansar</key>
	<string>sereposer</string>
	<key>descubrir</key>
	<string>découvrir</string>
	<key>desear</key>
	<string>souhaiter</string>
	<key>deshacer</key>
	<string>défaire</string>
	<key>despedir</key>
	<string>direaurevoir</string>
	<key>despertar</key>
	<string>réveiller</string>
	<key>destruir</key>
	<string>détruire</string>
	<key>devolver</key>
	<string>retourner</string>
	<key>dibujar</key>
	<string>dessiner</string>
	<key>dirigir</key>
	<string>mener</string>
	<key>disfrutar</key>
	<string>apprécier</string>
	<key>doler</key>
	<string>blesser</string>
	<key>dormir</key>
	<string>dormir</string>
	<key>duchar</key>
	<string>sedoucher</string>
	<key>echar</key>
	<string>lancer</string>
	<key>elegir</key>
	<string>choisir</string>
	<key>empezar</key>
	<string>commencer</string>
	<key>encantar</key>
	<string>aimer</string>
	<key>encender</key>
	<string>allumer</string>
	<key>encontrar</key>
	<string>trouver</string>
	<key>entender</key>
	<string>comprendre</string>
	<key>entrar</key>
	<string>entrer</string>
	<key>entregar</key>
	<string>livrer</string>
	<key>enviar</key>
	<string>envoyer</string>
	<key>envidiar</key>
	<string>envier</string>
	<key>escoger</key>
	<string>choisir</string>
	<key>escribir</key>
	<string>écrire</string>
	<key>escuchar</key>
	<string>entendre</string>
	<key>esperar</key>
	<string>attendre</string>
	<key>estar</key>
	<string>être</string>
	<key>estudiar</key>
	<string>étudier</string>
	<key>exigir</key>
	<string>demander</string>
	<key>explicar</key>
	<string>expliquer</string>
	<key>fijar</key>
	<string>fixer,faire attention</string>
	<key>firmar</key>
	<string>signer</string>
	<key>formar</key>
	<string>former</string>
	<key>fregar</key>
	<string>frotter</string>
	<key>ganar</key>
	<string>gagner</string>
	<key>gastar</key>
	<string>dépenser</string>
	<key>graduar</key>
	<string>diplômer</string>
	<key>gritar</key>
	<string>crier</string>
	<key>gustar</key>
	<string>aimer</string>
	<key>haber</key>
	<string>avoir</string>
	<key>hablar</key>
	<string>parler</string>
	<key>hacer</key>
	<string>faire</string>
	<key>helar</key>
	<string>geler</string>
	<key>heredar</key>
	<string>Hériter</string>
	<key>herir</key>
	<string>blesser</string>
	<key>hervir</key>
	<string>bouillir</string>
	<key>huir</key>
	<string>fuir</string>
	<key>impedir</key>
	<string>empêcher</string>
	<key>incluir</key>
	<string>inclure</string>
	<key>influir</key>
	<string>influencer</string>
	<key>inscribir</key>
	<string>s&apos;inscrire</string>
	<key>intentar</key>
	<string>essayer</string>
	<key>interesar</key>
	<string>intéresser</string>
	<key>invertir</key>
	<string>investir</string>
	<key>invitar</key>
	<string>inviter</string>
	<key>ir</key>
	<string>aller</string>
	<key>jugar</key>
	<string>jouer</string>
	<key>juntar</key>
	<string>assembler</string>
	<key>lavar</key>
	<string>laver</string>
	<key>leer</key>
	<string>lire</string>
	<key>levantar</key>
	<string>soulever</string>
	<key>limpiar</key>
	<string>nettoyer</string>
	<key>llamar</key>
	<string>appeler</string>
	<key>llegar</key>
	<string>arriver</string>
	<key>llenar</key>
	<string>remplir</string>
	<key>llevar</key>
	<string>porter</string>
	<key>llorar</key>
	<string>pleurer</string>
	<key>lograr</key>
	<string>atteindre</string>
	<key>maltratar</key>
	<string>maltraiter</string>
	<key>mandar</key>
	<string>envoyer</string>
	<key>manejar</key>
	<string>conduire</string>
	<key>mantener</key>
	<string>tenir</string>
	<key>maquillar</key>
	<string>maquiller</string>
	<key>marchar</key>
	<string>aller</string>
	<key>medir</key>
	<string>mesurer</string>
	<key>mentir</key>
	<string>mentir</string>
	<key>meter</key>
	<string>mettre</string>
	<key>mezclar</key>
	<string>mélanger</string>
	<key>mirar</key>
	<string>regarder</string>
	<key>montar</key>
	<string>monter</string>
	<key>morir</key>
	<string>mourir</string>
	<key>mostrar</key>
	<string>montrer</string>
	<key>mover</key>
	<string>bouger</string>
	<key>nacer</key>
	<string>naître</string>
	<key>nadar</key>
	<string>nager</string>
	<key>navegar</key>
	<string>naviguer</string>
	<key>necesitar</key>
	<string>avoir besoin</string>
	<key>negar</key>
	<string>nier</string>
	<key>nevar</key>
	<string>neiger</string>
	<key>obedecer</key>
	<string>Obéir</string>
	<key>obtener</key>
	<string>obtenir</string>
	<key>odiar</key>
	<string>détester</string>
	<key>ofrecer</key>
	<string>offrir</string>
	<key>oler</key>
	<string>sentir</string>
	<key>olvidar</key>
	<string>oublier</string>
	<key>ordenar</key>
	<string>commander</string>
	<key>organizar</key>
	<string>organiser</string>
	<key>oír</key>
	<string>entendre</string>
	<key>pagar</key>
	<string>payer</string>
	<key>parar</key>
	<string>arrêter</string>
	<key>parecer</key>
	<string>sembler</string>
	<key>participar</key>
	<string>participer</string>
	<key>pasar</key>
	<string>passer</string>
	<key>pasear</key>
	<string>faire une promenade</string>
	<key>patinar</key>
	<string>patiner</string>
	<key>pedir</key>
	<string>demander</string>
	<key>peinar</key>
	<string>peigner</string>
	<key>pensar</key>
	<string>penser</string>
	<key>perder</key>
	<string>perdre</string>
	<key>permitir</key>
	<string>autoriser</string>
	<key>pintar</key>
	<string>peinturer</string>
	<key>planchar</key>
	<string>repasser</string>
	<key>poder</key>
	<string>pouvoir</string>
	<key>podrir</key>
	<string>pourrir</string>
	<key>poner</key>
	<string>mettre</string>
	<key>practicar</key>
	<string>s&apos;entraîner</string>
	<key>preferir</key>
	<string>préférer</string>
	<key>preguntar</key>
	<string>demander</string>
	<key>preparar</key>
	<string>préparer</string>
	<key>presentar</key>
	<string>présenter</string>
	<key>probar</key>
	<string>essayer</string>
	<key>producir</key>
	<string>produire</string>
	<key>proteger</key>
	<string>protéger</string>
	<key>quedar</key>
	<string>rester</string>
	<key>querer</key>
	<string>vouloir</string>
	<key>realizar</key>
	<string>réaliser</string>
	<key>rebajar</key>
	<string>baisser</string>
	<key>rechazar</key>
	<string>refuser</string>
	<key>recibir</key>
	<string>recevoir</string>
	<key>reciclar</key>
	<string>recycler</string>
	<key>recoger</key>
	<string>collecter</string>
	<key>recomendar</key>
	<string>recommander</string>
	<key>reconocer</key>
	<string>reconnaître</string>
	<key>recordar</key>
	<string>sesouvenir</string>
	<key>regalar</key>
	<string>donner</string>
	<key>regar</key>
	<string>arroser</string>
	<key>regresar</key>
	<string>rendre</string>
	<key>repasar</key>
	<string>réviser</string>
	<key>repetir</key>
	<string>répéter</string>
	<key>resolver</key>
	<string>résoudre</string>
	<key>responder</key>
	<string>répondre</string>
	<key>resultar</key>
	<string>s&apos;avérer</string>
	<key>rezar</key>
	<string>prier</string>
	<key>robar</key>
	<string>voler</string>
	<key>rodar</key>
	<string>rouler</string>
	<key>rogar</key>
	<string>mendier</string>
	<key>romper</key>
	<string>casser</string>
	<key>saber</key>
	<string>savoir</string>
	<key>saborear</key>
	<string>savourer</string>
	<key>sacar</key>
	<string>sortir</string>
	<key>sacudir</key>
	<string>secouer</string>
	<key>salir</key>
	<string>sortir</string>
	<key>saltar</key>
	<string>sauter</string>
	<key>saludar</key>
	<string>saluer</string>
	<key>secar</key>
	<string>sécher</string>
	<key>seguir</key>
	<string>suivre</string>
	<key>sentar</key>
	<string>s&apos;asseoir</string>
	<key>sentir</key>
	<string>sentir</string>
	<key>ser</key>
	<string>être</string>
	<key>servir</key>
	<string>servir</string>
	<key>soler</key>
	<string>faire habituellement</string>
	<key>sonar</key>
	<string>paraitre</string>
	<key>subir</key>
	<string>monter</string>
	<key>suceder</key>
	<string>sepasser</string>
	<key>suponer</key>
	<string>supposer</string>
	<key>sustraer</key>
	<string>soustraire</string>
	<key>tardar</key>
	<string>retarder</string>
	<key>temer</key>
	<string>avoirpeur</string>
	<key>tener</key>
	<string>avoir</string>
	<key>terminar</key>
	<string>finir</string>
	<key>tocar</key>
	<string>toucher</string>
	<key>tomar</key>
	<string>prendre,boire</string>
	<key>torcer</key>
	<string>tordre</string>
	<key>trabajar</key>
	<string>travailler</string>
	<key>traducir</key>
	<string>traduire</string>
	<key>traer</key>
	<string>apporter</string>
	<key>tratar</key>
	<string>essayer</string>
	<key>usar</key>
	<string>utiliser</string>
	<key>utilizar</key>
	<string>utiliser</string>
	<key>valer</key>
	<string>valoir</string>
	<key>vencer</key>
	<string>gagner</string>
	<key>vender</key>
	<string>vendre</string>
	<key>venir</key>
	<string>venir</string>
	<key>ver</key>
	<string>voir</string>
	<key>vestir</key>
	<string>vestir</string>
	<key>viajar</key>
	<string>voyager</string>
	<key>visitar</key>
	<string>visiter</string>
	<key>vivir</key>
	<string>vivre</string>
	<key>volar</key>
	<string>voler</string>
	<key>volver</key>
	<string>rendre</string>
</dict>
</plist>
